* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}


/* LEFT NAVBAR */

.navbar {
    width: 180px;
    height: 100vh;
    background: #050505;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    width: 130px;
    display: block;
    margin: 25px auto 20px;
}

.navbar a {
    display: block;
    height: 75px;

    color: white;
    text-decoration: none;

    text-align: center;
    padding-top: 27px;

    font-size: 18px;
    font-weight: bold;

    border-top: 2px solid #222;
}

.navbar a:hover {
    background: #54208f;
}


/* SOCIAL ICONS */

.social {
    position: fixed;
    right: 10px;
    top: 100px;
}

.social a {
    display: block;

    width: 40px;
    height: 40px;

    margin-bottom: 12px;

    background: white;

    border-radius: 5px;

    box-shadow: 0 2px 5px #aaa;

    text-align: center;
    padding-top: 8px;

    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
    color: black;
}

.social a:hover {
    background: #54208f;
    color: white;
}


/* MAIN */

.main {
    margin-left: 180px;
    padding: 30px 70px;
}

.menu-title {
    text-align: center;
    color: #54208f;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
}


/* FOOD */

.food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 45px;
}

.card {
    text-align: center;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

.card h2 {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 3px;
}


/* MOBILE */

@media (max-width: 900px) {

    .navbar {
        width: 130px;
    }

    .main {
        margin-left: 130px;
        padding: 25px;
    }

    .food {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar a {
        font-size: 14px;
    }
}

@media (max-width: 600px) {

    .navbar {
        width: 100px;
    }

    .logo {
        width: 70px;
    }

    .navbar a {
        font-size: 11px;
    }

    .main {
        margin-left: 100px;
    }

    .food {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 30px;
    }
}